<h1 class="mt-3">Selectores anidados</h1>
<hr>

<!--Conectamos el formulario con el objeto HTML-->
<form [formGroup]="myForm">
    <!-- Regiones de los Países-->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente:</label>
            <!--FormControlName está uniendo una parte del formulario con el HTML-->
            <select formControlName="region" class="form-control">
                <option value="">--Selecciones Continente--</option>
                <!-- Me inserta las regiones en el option-->
                <option *ngFor="let region of regions" [value]="region">{{region}}</option>
            </select>
        </div>
    </div>

    <!-- Países-->
    <!-- si no seleciono continente no me aparece el label y el option de Países (*ngIf="countriesByRegion.length > 0")-->
    <div class="row mb-3" *ngIf="countriesByRegion.length > 0">
        <div class="col">
            <label class="form-label">País:</label>
            <!--FormControlName está uniendo una parte del formulario con el HTML-->
            <select formControlName="country" class="form-control">
                <option value="">--Selecciones País--</option>
                <!-- Me inserta las regiones en el option-->
                <option *ngFor="let country of countriesByRegion" [value]="country.cca3">{{country.name}}</option>
            </select>
        </div>
    </div>

    <!-- Regiones -->
    <div class="row mb-3" *ngIf="borders.length > 0">
        <div class="col">
            <label class="form-label">Fronteras:</label>
            <select formControlName="border" class="form-control">
                <option value="">-- Seleccione la Frontera --</option>
                <!-- <option *ngFor="let border of borders" [value]="border">{{ border }}</option> -->
                <option *ngFor="let country of borders" [value]="country.cca3">{{ country.name }}</option>
            </select>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<code>
    {{myForm.value | json}}
</code>
<p>
    is form valid: {{myForm.valid}}
</p>